// My css

.accordion-item {
  border: none;
  margin-bottom: 48px;
  .accordion-title {
    padding-right: 35px;
    position: relative;
    color: #111111;
    cursor: pointer;
    &:after {
      content: '\e903';
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'icomoon' !important;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    &[aria-expanded='true'] {
      &:after {
        content: '\e904';
        position: absolute;
        right: 0;
      }
    }
  }

  .accordion-body {
    padding: 24px 0 0;
    color: $blackColorScale-3;
    font-family: $OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    letter-spacing: 0.14px;

    p,
    ul,
    li {
      color: $blackColorScale-3;
      font-family: $OpenSans;
      font-size: 14px;
      font-weight: 400;
      line-height: 19.6px;
      letter-spacing: 0.14px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.accordion-expand-more {
  &[aria-expanded='true'] {
    display: none;
  }
}

.new-accordian {
  .accordion-item {
    margin-bottom: 0px;
    padding: 24px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0px 11px 41px 0px rgba(0, 0, 0, 0.07);
    margin-top: 16px;
    .accordion-title {
      &::after {
        content: '\e90a';
        font-size: 12px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
      }
      &[aria-expanded='true'] {
        &:after {
          content: '\e90b';
        }
      }
    }
    &:first-child {
      margin-top: 0px !important;
    }
    .accordion-body {
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0.32px;
      padding-top: 12px;
    }
  }
  &.pay-accordian-sm {
    .accordion-item {
      padding: 16px 20px;
      margin-top: 8px;
      border-radius: 8px;
      .accordion-title {
        font-family: 'Open-Sans';
        font-size: 14px;
        line-height: 120%; /* 16.8px */
        display: flex;
        align-items: center;
        &:after {
          font-size: 15px;
        }
      }

      .pay-icons {
        min-width: 30px;
        text-align: center;
        margin-right: 9px;
      }
    }
  }
}

@media (max-width: 767px) {
  .accordion-item {
    margin-bottom: 24px;
    .accordion-title {
      font-size: 18px;
    }
    .accordion-body {
      padding: 16px 0 0;
    }
  }

  .new-accordian {
    .accordion-item {
      .accordion-body {
        font-size: 14px;
        line-height: 117%;
        padding-top: 16px;
      }
    }
  }
}
