.menu-list-slider {
  padding-left: 50px;
  padding-right: 50px;
  li {
    padding-left: 10px;
    padding-right: 10px;
    a {
      font-family: $OpenSans;
      font-size: 16px;
      color: #777777;
      display: block;
      padding-left: 6px;
      padding-right: 6px;
      border-bottom: 1px solid transparent;
    }
  }
  .slick-slide {
    &.slick-current {
      &.slick-active {
        a {
          color: $blackColorScale-1;
          border-bottom: 2px solid $primary;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .menu-list-slider {
    padding-left: 0px;
    padding-right: 0px;
  }
}
