.xpert-report-box {
  .heading-section {
    background-image: url('../images/congratulations-bg.svg');
    background-repeat: no-repeat;
    background-position: center top;
    margin-bottom: 0;
    padding-bottom: 26px;
    h3 {
      margin-bottom: 16px;
    }
  }
  .xpert-report-desc {
    color: $blackColorScale-1;
  }
  .report-details-wrap {
    padding: 32px 32px 124px 32px;
    border-radius: 12px;
    background-color: $darkBlue2;
    margin-top: -42px;
    position: relative;
  }
  .report-text,
  .we-recommend-text {
    color: $whiteColor;
  }
  .person-report {
    margin-top: 10px;
    color: $whiteColor;
    font-family: $OpenSansSemiBold;
  }
  .for-person {
    font-family: $OpenSansLight;
  }
  .we-recommend-text {
    margin-top: 28px;
  }
  .life-cover-wrap {
    max-width: 486px;
    margin: 36px auto 0;
  }
  .life-cover-row {
    display: flex;
    flex-wrap: wrap;
    margin: -32px -32px 0;
  }
  .life-cover-col {
    width: 50%;
    padding: 32px 32px 0;
    text-align: center;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      right: 0;
      width: 1px;
      height: 39px;
      background-color: rgba($color: $lightGray13, $alpha: 0.8);
    }
    &:last-child {
      &::before {
        content: none;
      }
    }
  }
  .life-cover-point {
    color: $lightGray13;
    margin-bottom: 0;
  }
  .return-text {
    color: $whiteColor;
    font-family: $OpenSansSemiBold;
    margin-top: 4px;
  }
  .poliy-duration-text {
    text-align: center;
    margin-top: 30px;
    color: $whiteColor;
    .blurry-text {
      font-family: $OpenSansSemiBold;
    }
  }
  .suggested-text {
    color: $whiteColor;
  }
  .accidental-text {
    margin-top: 10px;
  }
  .grab-details-wrap {
    margin-top: -109px;
  }
  .grap-details-inner {
    padding: 24px;
    border-radius: 8px;
    background-color: $secondary;
    position: relative;
    z-index: 1;
  }
  .grab-top-text {
    color: $blackColorScale-1;
    margin-bottom: 24px;
  }
  .mobile-num-wrap {
    max-width: 260px;
    margin: 0 auto;
  }
  .send-request-btn {
    padding-top: 24px;
  }
}

@media (max-width: 767px) {
  .xpert-report-box {
    .heading-section {
      background-size: cover;
      background-image: url('../images/congratulations-mob-bg.svg');
      padding-bottom: 0;
      margin-bottom: 16px;
      h3 {
        margin-bottom: 10px;
      }
    }
    .report-details-wrap {
      padding: 24px 30px 117px 30px;
      margin-top: 0;
    }
    .we-recommend-text {
      margin-top: 24px;
    }
    .life-cover-wrap {
      margin-top: 24px;
    }
    .life-cover-row {
      margin: 0;
    }
    .life-cover-col {
      width: 100%;
      padding: 11px 0;
      border-top: 1px solid rgba($color: $lightGray13, $alpha: 0.5);
      &::before {
        content: none;
      }
      &:first-child {
        border-top: none;
        padding-top: 0;
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
    .grab-details-wrap {
      margin: -90px 24px 0;
    }
    .grab-top-text {
      font-size: 14px !important;
    }
  }
}
