$transparent: transparent;
$primary: #007bc3;
$secondary: #e2f4ff;
$secondaryScale-1: #d3eeff;
$secondaryScale-2: #e5f3f3;
$secondaryScale-3: #bfe1e1;
$tertiary: #fbf4e9;
$lightTeal: #aad8de;
$whiteColor: #ffffff;
$lightGray: #f4ffff;
$blackColor: #000000;
$blackColorScale-1: #111111;
$blackColorScale-3: #333333;
$blackColorScale-5: #555555;
$blackColorScale-7: #777777;
$linkColor: #0066cc;
$linkColor2: 006FB1;
$linkColorScale-1: #0053e1;
$yellow: #f9d447;
$yellowScale-1: #ffd200;
$yellowScale-2: #fff3de;
$yellowish: #ffe4bb;
$orange: #e66c20;
$darkBlue: #0b1f42;
$darkBlueScale-1: #0f2a5a;
$blue: #143164;
$cyan: #41a5a4;
$lightGray8: #b8b8b8;

$primary-btn-bg: #ffed99;
$yellow-btn-bg: #99cae7;

$primary-btn-shadow: #ffda2f;
$yellow-btn-shadow: #006fb1;

$lightBlue: #e4f4fd;
$darkYellow: #d59525;
$lightSkyBlue: #a1c0d2;
$lightGray2: #d6d6d6;
$lightGray3: #e9e9e9;
$lightGray4: #dddddd;
$lightGray5: #e6e6e6;
$lightGray6: #fffdf9;
$lightGray7: #fbf4e9;
$lightYellow: #efd5a7;
$lightYello2: #f4e4c8;
$darkGray: #4d4d4d;
$lightSkyBlue2: #c1e8ff;
$darkSkyBlue: #1a8bc9;
$lightGray9: #d0d5dd;
$lightGray10: #d1d1d1;
$lightSkyBlue3: #e4f4fd;
$darkBlue2: #001f45;
$lightSkyBlue4: #ddf3ff;
$lightGray11: #999999;
$lightGray12: #dadada;
$lightSkyBlue5: #7ecaf2;
$blackColorScale-8: #454545;
$lightSkyBlue6: #ecf4fa;
$green: #a4cd77;
$darkPink: #e06b72;
$lightGray13: #dfdfdf;
$lightSkyBlue7: #ecf8ff;
$blackColorScale-9: #444444;
$lightTan: #e4e4e4;

/* Fonts */
$OpenSansExtraBold: 'Open-Sans-ExtraBold';
$OpenSansExtraBoldItalic: 'Open-Sans-ExtraBoldItalic';
$OpenSansBold: 'Open-Sans-Bold';
$OpenSansBoldItalic: 'Open-Sans-BoldItalic';
$OpenSansBoldItalic: 'Open-Sans-BoldItalic';
$OpenSansSemiBold: 'Open-Sans-SemiBold';
$OpenSansMedium: 'Open-Sans-Medium';
$OpenSansMediumItalic: 'Open-Sans-MediumItalic';
$OpenSans: 'Open-Sans';
$OpenSansItalic: 'Open-Sans-Italic';
$OpenSansLight: 'Open-Sans-Light';
$OpenSansLightItalic: 'Open-Sans-LightItalic';
$Prudential: 'Prudential';
$PrudentialLight: 'Prudential-Light';
$PrudentialSemiBold: 'Prudential-SemiBold';
$PrudentialBold: 'Prudential-Bold';
